In [1]:
import pandas as pd

df = pd.read_csv('tips.csv')

In [2]:
average_tip_by_day = df.groupby('day')['tip'].mean()

In [3]:
total_bill_by_size = df.groupby('size')['total_bill'].sum()

In [4]:
df['tip_percentage'] = (df['tip'] / df['total_bill']) * 100
average_tip_percentage = df.groupby(['day', 'time'])['tip_percentage'].mean()

In [5]:
max_tip_by_gender = df.groupby('sex')['tip'].max()

In [6]:
total_bill_tip_by_day_and_size = df.groupby(['day', 'size'])[['total_bill', 'tip']].sum()

In [7]:
average_tip_size_2_or_more = df[df['size'] >= 2].groupby('day')['tip'].mean()

In [8]:
total_bill_by_day = df.groupby('day')['total_bill'].sum()
highest_bill_day = total_bill_by_day.idxmax()
average_tip_highest_bill_day = df[df['day'] == highest_bill_day]['tip'].mean()

In [9]:
total_bill_size_3_or_4 = df[df['size'].isin([3, 4])].groupby('day')['total_bill'].sum()

In [10]:
display("Average Tip by Day:", average_tip_by_day)
display("Total Bill by Size:", total_bill_by_size)
display("Average Tip Percentage:", average_tip_percentage)
display("Maximum Tip by Gender:", max_tip_by_gender)
display("Total Bill and Tip by Day and Size:", total_bill_tip_by_day_and_size)
display("Average Tip for Groups of Size 2 or More:", average_tip_size_2_or_more)
display("Average Tip for the Day with Highest Total Bill:", average_tip_highest_bill_day)
display("Total Bill for Groups of Size 3 or 4:", total_bill_size_3_or_4)

'Average Tip by Day:'

day
Fri     2.734737
Sat     2.993103
Sun     3.255132
Thur    2.771452
Name: tip, dtype: float64

'Total Bill by Size:'

size
1      28.97
2    2565.89
3     884.55
4    1058.70
5     150.34
6     139.32
Name: total_bill, dtype: float64

'Average Tip Percentage:'

day   time
Fri   Dinner    15.891611
      Lunch     18.876489
Sat   Dinner    15.315172
Sun   Dinner    16.689729
Thur  Dinner    15.974441
      Lunch     16.130074
Name: tip_percentage, dtype: float64

'Maximum Tip by Gender:'

sex
Female     6.5
Male      10.0
Name: tip, dtype: float64

'Total Bill and Tip by Day and Size:'

           total_bill     tip
day  size
Fri  1           8.58    1.92
     2         261.15   42.31
     3          15.98    3.00
     4          40.17    4.73
Sat  1          10.32    2.00
     2         892.37  133.43
     3         459.17   68.36
     4         388.39   53.61
     5          28.15    3.00
Sun  2         684.84  109.86
     3         332.76   46.81
     4         480.39   73.58
     5          81.00   12.14
     6          48.17    5.00
Thur 1          10.07    1.83
     2         727.53  117.24
     3          76.64   10.77
     4         149.75   21.09
     5          41.19    5.00
     6          91.15   15.90

'Average Tip for Groups of Size 2 or More:'

day
Fri     2.780000
Sat     3.040000
Sun     3.255132
Thur    2.786885
Name: tip, dtype: float64

'Average Tip for the Day with Highest Total Bill:'

np.float64(2.993103448275862)

'Total Bill for Groups of Size 3 or 4:'

day
Fri      56.15
Sat     847.56
Sun     813.15
Thur    226.39
Name: total_bill, dtype: float64